@use "../../styles/abstracts/" as v;

.hero {
	position: relative;
	height: 25rem;
	width: 100%;
	background-image: url("/src/assets/img/bank-tree.jpeg");
	background-size: cover;
	background-position: center 32.5%;

	&__content {
		position: absolute;
		top: 3.125rem;
		right: 3.125rem;
		height: 9.1rem;
		width: 18.75rem;
		padding: 2rem;
		margin: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: v.$white;
		gap: 1.2rem;

		.heroTitle {
			display: flex;
			flex-direction: column;
			width: 100%;
			h2 {
				width: 100%;
				margin: 0;
			}
		}

		.heroSubtitle {
			p {
				margin: 0;
				font-size: v.$fs-m;
			}
		}
	}
}
