//Color variables
$green-light: #00BC77;
$green-dark: #005834;
$blue-dark: #2C3E50;
$purple-dark: #12002B;

$black: #000000;
$white: #FFFFFF;

//Transition and animation time variables
$tt-standard: 350ms;